{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <center>
        <div class="mt-5">
            <h2 class="">Поздравляем!</h2>
            <h2>Вы успешно зарегистрировались в Live-Action.</h2>
        </div>
        <div id="about_lnk" class="mt-5">
            <a href="/about" class="h5 text-decoration-none">Узнать подробнее о приложении.</a>
        </div>
        <div id="index_lnk" class="mt-3">
            <a href="/" class="h5 text-decoration-none">Перейти на главную страницу.</a>
        </div>
        <div id="profile_lnk" class="mt-3">
            <a href="#" class="h5 text-decoration-none">Перейти в профиль.</a>
        </div>

    </center>
{% endblock%}