<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <a class="navbar-brand" href="/">Live-Action</a>
        <div class="container row">
            <a class=" p-1 text-light" href="/">Главная</a>
            <a class=" p-1 text-light" href="">Цели</a>
            <div></div>
            <div></div>
            <div></div>
            <button class="btn btn-primary">Вход</button>
            <a class=" p-1 text-light" href="/about">О приложении</a>
        </div>

    </nav>


        {% block content %}{% endblock %}



</body>
</html>