{% extends 'main/base.html' %}

{% block title %}Карта{% endblock %}

{% block content %}
<div class="folium-map" id="map_c6cc1bfe88a5492480a1fb8a32aa5d97" ></div>
<script>

            var map_c6cc1bfe88a5492480a1fb8a32aa5d97 = L.map(
                "map_c6cc1bfe88a5492480a1fb8a32aa5d97",
                {
                    center: [37.296933, -121.9574983],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );





            var tile_layer_eeba8ecd4f2a4d2eadbb011ea1468358 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c6cc1bfe88a5492480a1fb8a32aa5d97);

</script>
{% endblock %}
