{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<center>
    <div class="container mt-5">
        <h3>Благодаря Live-Action Вы можете открыть мир спорта и драйва!</h3>
        <a href="/map" class="text-decoration-none">Перейдите на карту, изучайте местность вокруг точек интереса.</a>
    </div>
    <div class="container mt-5">
        <h3>C Live-Action Вы найдете активное занятие по своим предпочтениям.</h3>
        <a href="/" class="text-decoration-none">Перейдите к фильтру активностей и подберите себе увлекательный эвент.</a>
    </div>
    <div class="container mt-5">
        <h3>Ставьте цели и следите за их выполнением.</h3>
        <p>В обзоре точки нажмите "Добавить в цели"</p>
        <a href="/goals" class="text-decoration-none">Вы можете просмотреть статус выполнения и некоторую информацию о цели.</a>
    </div>
    <div class="container mt-5">
        <h3>Рекорды, личный рост, история ваших путешествий.</h3>
        <p class="text-info"># в разработке</p>
    </div>
</center>
{% endblock %}