{% extends 'main/map_filter.html' %}

{% block left_col %}
    <form method="post" class="h4" action="/">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{form.type.label}}<br><br>
                <div class="mt-2">{{form.season.label}}<br><br></div>
                <div class="mt-2">{{form.enviroment_chars.label}}<br><br></div>
                <div class="mt-1">{{form.extreme.label}}</div>
            </div>
            <div class="col-5">
                {{form.type}}<br><br>
                {{form.season}}<br><br>
                {{form.enviroment_chars}}<br><br>
                {{form.extreme}}
            </div>
        </div>




                <button type="submit" class="btn btn-success mt-2">Подбор</button>
            </form>
    <h3 class="mt-4">Полученные точки:</h3>
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="pre-scrollable">
                {% for point in points%}
                     <a href="/add_goal/{{point.id}}" class="text-decoration-none">
                         <button id={{point.id}} type="button" class="list-group-item list-group-item-action">
                         <div class="row">
                             <div class="col-6">
                                 <h6>{{point.title}}</h6>
                                 {{form.activity_id}}
                             </div>
                             <div class="col-6">
                                 <small>{{point.coords}}</small>
                             </div>
                         </div>
                     </button>
                     </a>
                {% endfor %}
            </div>
            </form>
            {% else %}
            <p class="text-secondary">Для сохранения точек в Цели зарегистрируйтесь или войдите.</p>
            {% endif%}

{% endblock %}
